body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
}

.calculator-top{
  display: flex;
  justify-content: space-between;
  color: white;
  cursor: pointer;
}

.calculator {
  background-color: #1b1e27;
  border-radius: 25px;
  padding: 20px;
  max-width: 210px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.5);
}

#display {
  width: 100%;
  height: 70px;
  border: none;
  background: none;
  color: #fff;
  font-size: 2rem;
  text-align: right;
  outline: none;
  margin-bottom: 20px;
}

#display1{
  width: 100%;
  height: 50px;
  border: none;
  background: none;
  color: #fff;
  font-size: 1rem;
  text-align: right;
  outline: none;
 
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
   box-shadow: 0 4px 25px rgba(0, 0, 0, 0.5);
  background-color: #252a35;
  color: white;
  border: none;
  font-size: 1.2rem;
  height: 55px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
 
}

button:hover {
  background-color: #2e3442;
}

button:active {
  transform: scale(0.97);
}

button:nth-child(4n) {
  color: #4c9eff;
}
button:nth-child(2) {
  color: #4c9eff;
}
button:nth-child(1) {
  color: #4c9eff;
}
button:nth-child(3) {
  color: #4c9eff;
}
button:nth-child(19) {
  color: #4c9eff;
}
button:nth-child(18) {
  color: #4c9eff;
}

button:last-child {
  background-color: #4c9eff;
  color: #fff;
} 
